body {
  font-family: 'Courier New', monospace;
  line-height: 1.6;
  margin: 0;
  color: #98FB98;
  background-color: #000;
  background-image: linear-gradient(0deg, transparent 24%, rgba(152, 251, 152, .05) 25%, rgba(152, 251, 152, .05) 76%, transparent 77%, transparent),
                  linear-gradient(90deg, transparent 24%, rgba(152, 251, 152, .05) 25%, rgba(152, 251, 152, .05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #98FB98;
  padding: 30px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  overflow-y: auto;
  border-right: 2px solid #98FB98;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #98FB98;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin: 5px 0;
}

.skills {
  margin-top: 50px;
}

.skills h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #00FF00;
}

.skills h3 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #98FB98;
}

main {
  margin-left: 450px;
  padding: 30px;
  color: #98FB98;
  background-color: rgba(0, 0, 0, 0.7);
}

main h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #00FF00;
}

.entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px dashed #98FB98;
  padding-bottom: 20px;
}

.left {
  flex: 6;
}

.right {
  margin-top: 10px;
  flex: 2;
  text-align: right;
  font-style: italic;
  color: #98FB98;
  white-space: pre-wrap; /* prevent location and duration from breaking into multiple lines */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  line-height: 1;
}

.left h3 {
  margin-bottom: 0;
  font-size: 1.3rem;
  color: #98FB98;

}  

@media screen and (max-width: 800px) {
  header {
    width: 100%;
    position: static;
    padding: 20px;
    margin-bottom: 20px;
    border-right: none;
  }
  main {
    margin-left: 0;
  }
}

.left-entry {
  width: 70%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin: 5px 0;
}

.contact-info i {
  margin-right: 5px;
}

.contact-info a {
  text-decoration: none;
  color: inherit;
}

blockquote{
  font-size: 0.8rem;
  font-style: italic;
  color: #98FB98;
  border-left: 3px solid #98FB98;
  padding-left: 10px;
}

.label{
  font-weight:bold;
  
  color: #00FF00;
}
.detail{
  color: #98FB98;
  font-style: italic;
}

/* To style the hyperlinked text */
a {
  color: inherit; /* To make link color same as the text it is inside */
  text-decoration: underline; /* To remove underline */
  font-weight: bold;
}

a:hover {
  color: #00FF00; /* Color on mouse hover */
}
