/* Base styling for HTML */
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Courier New', monospace;
}

body {
  color: #98FB98;
  line-height: 1.6;
  background-color: #000;
  padding: 0 10%;
}

h1, h2, h3, p {
  margin: 0 0 15px 0;
}

h1, h2, h3 {
  color: #98FB98;
}

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  border-bottom: 2px solid #98FB98;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.4rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #f8f8ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header */

header {
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 45%;
}

.contact-info i {
  margin-right: 10px;
}

.personal-statement {
  margin-bottom: 20px;
  font-style: italic;
  color: #f8f8ff;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.skills h2 {
  font-size: 1.6rem;
  grid-column: span 2;
}

.skills p {
  font-size: 1rem;
  line-height: 1.4;
}

/* Main */

main {
  margin-bottom: 40px;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-bottom: 20px;
}

.entry h3 {
  grid-column: span 2;
}

.entry p {
  margin: 0;
}

.entry ul {
  margin-top: 15px;
}

/* Footer */

footer {
  font-size: 1.2rem;
  text-align: center;
  padding: 20px 0;
  background-color: #98FB98;
  color: #000;
}
