.about-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar-container {
  height: 80px; /* set height of navbar */
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
  align-self: center;
}

.download-button {
  align-self: flex-end;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff00cc;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #ff33ff;
  font-weight: bolder;
  font-size: 30px;
}
