/* Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.navbar {
  display: flex;
  align-items: center;
  background-color: #202020;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

.navbar-name {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.navbar-name:hover {
  color: #FFC947;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-item {
  margin-left: 30px;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-link:hover {
  color: #FFC947;
  cursor: pointer;
}

.active {
  color: #FFC947;
}

.navbar-icon {
  margin-right: 8px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 15px;
  }
  
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #202020;
    z-index: 999;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-menu.show {
    display: flex;
  }
  
  .navbar-hamburger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .navbar-hamburger span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    left: 0;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-hamburger span:nth-child(1) {
    top: 0;
  }
  
  .navbar-hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .navbar-hamburger span:nth-child(3) {
    bottom: 0;
  }
  

 

  .navbar-menu-item {
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }


.navbar-menu-item-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.navbar-menu-item-link:hover {
  color: #FFC947;
}

}